@import '/styles/tokens.scss';

.Input {
  border: none;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  background-color: transparent;
  mix-blend-mode: normal;
  transition: all .2s;

  &::placeholder {
    opacity: 0.35;
  }
}

.DarkTheme {
  color: $secondaryColor-lightest;
  
  &::placeholder {
    opacity: .5;
  }
}