.Overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  min-height: 100vh;
  padding: 0 24px;
}

.Card {
  padding: 24px;
}