.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 46px 165px 85px;
  background: url('../../../../../public/desktop/bg-pattern-header.svg');
  background-repeat: repeat-y;
  background-size: cover;
  border-radius: 0px 0px 0 100px;
}