@import '/styles/tokens.scss';

.Container {
  background-color: $secondaryColor-light;
  transition: all .2s;
  min-height: 100vh;
}

.DarkTheme {
  background-color: $primaryColor-darkest;
}

.Description {
  margin-top: 9px;
}

.CardContained {
  padding: 0 24px;
}

.ApplyNowCard {
  margin-top: 65px;
}

.CompanyCard {
  position: relative;
  top: -15px;
}

.HowToApplySection {
  margin-top: 32px;
}