@import '/styles/tokens.scss';

.Container {
  background-color: $secondaryColor-light;
  transition: all .2s;
  min-height: 100vh;
}

.DarkTheme {
  background-color: $primaryColor-darkest;
}

.Description {
  margin-top: 9px;
}

.ApplyNowCard {
  margin-top: 40px;

  @media (min-width: $breakpoint-tablet){
    margin-top: 48px;
  }

  @media (min-width: $breakpoint-desktop){
    margin-top: 73px;
  }
}

.CompanyCard {
  position: relative;
  top: -15px;
}

.HowToApplySection {
  margin-top: 32px;
}