@import '/styles/tokens.scss';

.Container {
  height: 100%;
}

.ButtonContainer {
  padding: 32px 0 62px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media(min-width: $breakpoint-tablet){
    padding-top: 56px;
  }
}

.ListContainer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 49px;
  
  @media screen and (min-width: $breakpoint-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 65px 11px;
  }

  @media (min-width: $breakpoint-desktop){
    grid-template-columns: 1fr 1fr 1fr;
    gap: 65px 30px;
  }
}

.BotaoLojasProximas {
  margin: 0 auto 24px;
}