@import '/styles/tokens';

.Container {
  width: 100%;
  min-height: 100vh;
  transition: all .2s;
  position: relative;
}

.LightTheme {
  background-color: $secondaryColor-light;
}

.DarkTheme {
  background-color: $primaryColor-darkest;
}

.JobCardList {
  margin-top: 97px;

  @media(min-width: $breakpoint-tablet){
    margin-top:110px;
  }

  @media (min-width: $breakpoint-desktop){
    margin-top: 145px;
  }
}

.FilterBar {
  position: absolute;
  left: 0;
  top: 96px;

  @media (max-width: $breakpoint-desktop){
    width: 100% !important;
  }

  @media(min-width: $breakpoint-desktop){
    top: 121px;
    left: 50%;
    margin-left: -550px !important;
  }
}