@import '/styles/tokens';

.Container {
  width: 100%;
  min-height: 100vh;
  transition: all .2s;
  position: relative;
}

.LightTheme {
  background-color: $secondaryColor-light;
}

.DarkTheme {
  background-color: $primaryColor-darkest;
}

.JobCardList {
  margin-top: 97px;

  @media(min-width: $breakpoint-tablet){
    margin-top:110px;
  }
}

.FilterBar {
  position: absolute;
  width: 100%;
  left: 0;
  top: 96px;
}