.Card {
  padding: 24px 0;
}

.CompanyInfoContainer {
  display: flex;
  row-gap: 4px;
  flex-direction: column;
}

.Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}