@import '/styles/tokens.scss';

.ListItem {
  display: flex;
  align-items: center;
}

.Circle {
  margin-right: 32px;
  min-width: 4px;
  min-height: 4px;
  width: 4px;
  height: 4px;
  border-radius: 50%;  
  background-color: $primaryColor-lightest;
}