$primaryColor-lightest: #5964E0;
$primaryColor-light: #939BF4;
$primaryColor-dark: #19202D;
$primaryColor-darkest: #121721;


$secondaryColor-lightest: #FFFFFF;
$secondaryColor-light: #F4F6F8;
$secondaryColor-dark: #9DAEC2;
$secondaryColor-darkest: #6E8098; 


$headingSize-h1: 28px;
$headingSize-h2: 24px;
$headingSize-h3: 20px;
$headingSize-h4: 14px;


$headingLineHeight-h1: 34px;
$headingLineHeight-h2: 29px;
$headingLineHeight-h3: 24px;
$headingLineHeight-h4: 18px;


$bodySize: 16px;
$bodyLineHeight: 26px;